@{
    Layout = "_GuestLayout";
}





<div class="row js_no_post text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcun post</h3>
    </div>
</div>
<div class="row js_post_table">
    <!-- qui verranno mostrati gli elementi -->
    
</div>













 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

<script>
    axios.get('/Api/Pizza/Get').then(res => {
        if (res.data.length == 0) {
            document.querySelector('js_no_post').classList.remove('d-none');
            document.querySelector('.js_post_table').classList.add('d-none');
        } 
        else 
        {
             document.querySelector('.js_post_table').innerHTML = '';
             console.log(res.data)
             res.data.forEach(pizza =>{

                    let listaingredienti = '';
                    
                    pizza.ingredients.forEach(ingredient => {
                        listaingredienti +=   
                        `<li>${ingredient.title}</li>`
                    })
                   
                    document.querySelector('.js_post_table').innerHTML +=
                        `
                        <div class="col-12 col-md-4 p-2">
                            <div class="card post h-100">
                                <img src="${pizza.image}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">${pizza.nome}</h5>
                                    <p class="card-text">${pizza.description}</p>
                                    <span class="card-text">${pizza.price}</span>
                                    <span class="card-text">${pizza.category.title}</span>     
                                    <ul class="list-ingredient">${listaingredienti}</ul>
                                    <a
                                        href="Guest/Show/${pizza.id}"

                                        class="btn btn-primary">Visualizza pizza
                                    </a>
                                </div>
                            </div>
                        </div>
                        `
                      
             })  
                      
             
             
        }
    }).catch(error => {
                console.log(error);
            });

</script>
