@{
    Layout = "_GuestLayout";
}


<div class="input-group mb-3">
  <input type="text" class="form-control userSearch mb-5" placeholder="Cerca Pizza">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Search</button>
  </div>
</div>


<div class="row js_no_pizza text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcun pizza</h3>
    </div>
</div>
<div class="row js_pizza_table">
    <!-- qui verranno mostrati gli elementi -->
    
</div>












@section Scripts{
<script>


    document.querySelector('.userSearch').addEventListener('keyup', UserSearch);

    

    function UserSearch(e) {

        let query = e.target.value
        console.log(query)


        //chiamata axios per la search
        axios.get('/Api/Pizza/SearchTitle', {
            params : {
                title: query
            }
            })
        .then(res => {
            PrintCard(res.data);
        })

        
        

    }

    //chiamata axios per tutto
    axios.get('/Api/Pizza/Get').then(res => {
                   
        PrintCard(res.data);
                             
    }).catch(error => {
          console.log(error);
    });



    



    
    function PrintCard(result) {
        if (result.length == 0) {
            document.querySelector('js_no_pizza').classList.remove('d-none');
            document.querySelector('.js_pizza_table').classList.add('d-none');
        } 
        else 
        {
       
            document.querySelector('.js_pizza_table').innerHTML = '';
            result.forEach(pizza =>{

                let listaingredienti = '';

                pizza.ingredients.forEach(ingredient => {
                    listaingredienti +=   
                    `<li>${ingredient.title}</li>`
                })

                document.querySelector('.js_pizza_table').innerHTML +=
                `
                <div class="col-12 col-md-4 p-2">
                    <div class="card pizza h-100">
                        <img src="${pizza.image}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">${pizza.nome}</h5>
                            <p class="card-text">${pizza.description}</p>
                            <span class="card-text">${pizza.price}</span>
                            <span class="card-text">${pizza.category.title}</span>     
                            <ul class="list-ingredient">${listaingredienti}</ul>
                            <a
                                href="Guest/Show/${pizza.id}"

                                class="btn btn-primary">Visualizza pizza
                            </a>
                        </div>
                    </div>
                </div>
                `
            })
        }
    }

</script>
}