@{
    Layout = "_GuestLayout";
}
@model Pizza




<div class="row js_no_pizza text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcun pizza</h3>
    </div>
</div>
<div class="row js_pizza_table">
    <!-- qui verranno mostrati gli elementi -->

</div>

<div class="col-12 mt-5">
    <form onsubmit="CreateComment(event)">
        <div class="mb-3">
            <label for="contact-text" class="form-label">Testo commento</label>
            <textarea class="form-control" id="review-text" rows="10" ></textarea>
                
        </div>
        <input type="submit" class="btn btn-primary" value="Invia" />
    </form>
</div>

<ul id="comment-list">
    @*qui vanno i commenti*@
</ul>



@section Scripts 
{
    <script>
        axios.get(`/api/pizza/details/${@Model.Id}`).then(res => {

            PrintHtml(res.data);
        })
      

        function PrintHtml(pizza) 
        {
            let listaingredienti = '';

            pizza.ingredients.forEach(ingredient => {
                listaingredienti +=
                `<li>${ingredient.title}</li>`
            }); 

            document.querySelector('.js_pizza_table').innerHTML +=

           

            `
                 <div class="col-12 col-md-4 p-2">
                    <div class="card pizza h-100">
                        <img src="${pizza.image}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">${pizza.nome}</h5>
                            <p class="card-text">${pizza.description}</p>
                            <span class="card-text">${pizza.price}</span>
                            <span class="card-text">${pizza.category.title}</span>
                            <ul>
                                ${listaingredienti}
                            </ul>
                         </div>
                     </div>    
                 </div>
            `
        }


        //stampo i commenti 
        axios.get('/api/review').then(res => {
            document.getElementById('comment-list').innerHTML = '';
            res.data.forEach(comment => {
                document.getElementById('comment-list').innerHTML +=
                `
                    <li>${$comment.text}</li>
                `
            })
            
        })



        function CreateComment(e) 
        {
            e.preventDefault();

            axios.post('/api/review', {
                text: document.getElementById('review-text').value,
            }).then(result => {

                


                
            }).catch(error => {
                console.log(error);
            })

        }
        

        
    </script>
}