@{
    Layout = "_GuestLayout";
}





<div class="row js_no_post text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcun post</h3>
    </div>
</div>
<div class="row js_post_table">
    <!-- qui verranno mostrati gli elementi -->

</div>




 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

<script>
    axios.get('/Api/Pizza/GetById').then(res => {
        console.log(res)
    })
      
</script>