@{
    Layout = "_GuestLayout";
}
@model Pizza




<div class="row js_no_pizza text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcun pizza</h3>
    </div>
</div>
<div class="row js_pizza_table">
    <!-- qui verranno mostrati gli elementi -->

</div>





@section Scripts 
{
    <script>
        axios.get(`/api/pizza/details/${@Model.Id}`).then(res => {

            PrintHtml(res.data);
        })
      

        function PrintHtml(pizza) 
        {
            let listaingredienti = '';

            pizza.ingredients.forEach(ingredient => {
                listaingredienti +=
                `<li>${ingredient.title}</li>`
            }); 

            document.querySelector('.js_pizza_table').innerHTML +=

           

            `
                 <div class="col-12 col-md-4 p-2">
                    <div class="card pizza h-100">
                        <img src="${pizza.image}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">${pizza.nome}</h5>
                            <p class="card-text">${pizza.description}</p>
                            <span class="card-text">${pizza.price}</span>
                            <span class="card-text">${pizza.category.title}</span>
                            <ul>
                                ${listaingredienti}
                            </ul>
                         </div>
                     </div>    
                 </div>
            `
        }

        
    </script>
}