@model Ingredient;

<form asp-controller="Ingredient" asp-action="Create" method="post">
  @Html.AntiForgeryToken()
  <div class="form-group pb-3">
    <label asp-for="Title"></label>
    <input type="text" class="form-control" asp-for="Title" placeholder="Metti l'ingrediente">
    <span class="text-danger" asp-validation-for="Title"></span>
  </div>
  <button type="submit" class="btn btn-success">Salva</button>
</form>